.progress-bar {
    background-color: #17A85F;
}

.progress-bar-fill {
    background-color: #5F5;
    height: 100%;
    /* This is important */
}

.layout {
    padding: 0px !important;
}

.form_layout {
    padding: 10px 20px;
}

label {
    white-space: nowrap;
}

.form-select {
    margin-bottom: 10px;
}