/* You can add global styles to this file, and also import other style files */

@import "~bootstrap-icons/font/bootstrap-icons.css";

.user_icon {
    width: 45px;
    height: 45px;
    margin: 0 auto 15px;
    font-size: 26px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    color: #fff;
    background: #ED357E;
    border-radius: 50px
}

.nav-tabs {
    border-bottom: 0px solid #dee2e6 !important;
    /* color: #34495E; */
    background: #34495E;
}

.nav {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-item {
    border-bottom: 3px solid transparent;
}

.nav-tabs .nav-item.active {
    font-weight: 600;
    border: 0px;
    border-bottom: 2px solid rgba(250, 202, 48, 1);
}

.nav-tabs .nav-link.active {
    border: 0px;
    background-color: transparent !important;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: white !important;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.floating_btn {
    border-color: transparent !important;
    background-color: #66332B !important;
    border-radius: 50px !important;
    box-shadow: 0px 2px 10px rgb(0 0 0 / 13%);
    width: 72px;
    height: 72px;
}

.bi-plus-lg::before {
    content: "\f64d";
    left: 1312.72px;
    top: 772.72px;
    font-size: 34.15px !important;
    font-weight: 600 !important;
    vertical-align: top !important;
    line-height: 1;
}

body {
    background: #f6f8fa !important;
}

.btn_alignment {
    text-align: right;
}

.btn.btn_brown {
    background: #66332B !important;
    border-radius: 4px !important;
    color: #FFF !important;
}

.btn.btn_border {
    background: #fff !important;
    border-radius: 4px !important;
    color: #66332B !important;
    border: 1px solid #66332B;
    font-weight: 500;
}

.btn.btn_sign {
    background: #F6F8FA;
    border: 0.7px solid #8894A0;
    border-radius: 2.8px;
    font-weight: 500;
}

.layout {
    /* height: 500px; */
    border-radius: 4px;
    background: #FFFFFF;
    box-shadow: 0px 0px 1px rgb(0 0 0 / 10%), 0px 2px 8px rgb(0 0 0 / 10%);
    border-radius: 4px;
    margin: 10px auto;
    padding: 20px;
}

.layout_p {
    background: #E4E4E4;
    border-radius: 4px 4px 0px 0px;
    height: 44px;
    display: flex;
    align-items: center;
    padding: 20px;
    font-weight: 500;
    font-size: 15px;
    text-transform: capitalize;
}

.green_text {
    color: #17A85F;
}

.brown_text {
    color: #66332B;
}

.black_text {
    color: #000;
}

.text_align_right {
    text-align: right;
}

.large_text {
    font-size: 20px;
}

p.grid {
    display: grid;
    display: grid;
    left: 19.44%;
    right: 59.17%;
    top: calc(50% - 26px/2 - 277px);
    font-family: 'HelveticaNeue';
    font-size: 20px;
    line-height: 35px;
    color: #2A292A;
    font-weight: 700;
}

p>span {
    margin: 5px 0px;
    height: 14px;
    left: 19.44%;
    right: 64.38%;
    top: calc(50% - 14px/2 - 249px);
    font-family: 'HelveticaNeue';
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #8894A0;
}

nav {
    background-color: #34495E !important;
    color: white;
}

nav>a {
    color: white;
    font-size: 16px;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: end;
}

.navbar-nav {
    align-items: center;
}

.navbar-nav i {
    font-size: 20px;
    margin: 0 10px;
}

.subTab_data .nav-tabs {
    background-color: transparent;
    justify-content: left;
    border-bottom: 1px solid #dcc2e6 !important;
}

.subTab_data .nav-tabs .nav-link {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #8894A0 !important;
    padding: 20px;
}

.subTab_data .table>:not(caption)>*>* {
    background-color: #fff;
    padding: 15px;
}

.search_filter_option {
    position: absolute;
    width: 10%;
    right: 15px;
    margin-top: 13px;
}

.card_data {
    cursor: pointer;
}

label.form-check-label {
    margin-bottom: 15px;
    margin-left: 10px;
}

.required:after {
    content: " *";
    color: red;
}

.progress {
    height: 6px !important;
}

.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 10px !important;
}

.progess_text {
    display: flex;
    justify-content: center;
}

.checkout_action div {
    border: 1px solid #e4e4e4;
}

@media only screen and (max-width: 1025px) {
    .text_align_right {
        text-align: center;
    }
}